Django==5.0.6
django-simple-captcha==0.6.0
gunicorn==22.0.0
Pillow==10.4.0
psycopg2-binary==2.9.9
django-pwa==1.1.0  # Add if using pwa
python-decouple==3.8  # Add if not present
dj-database-url==2.2.0  # Add if not present