body {
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand {
    font-size: 1.5rem;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.progress-bar {
    background-color: #0d6efd;
}
